body {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 200px;
    border: 1px solid black;
}

.current-hash {
    border: 1px grey dashed;
    padding: 10px 5px;
}

.current-hash span {
    color: blue;
    font-style: italic;
}

.nav {
    font-size: large;
}

main {
    display: flex;
    justify-content: center;
}

main p {
    width: 70%;
}

.item {
    border: solid 1px blue;
    background-color: lightgrey;
    margin: 20px;
    padding: 10px;
    padding-right: 40px;
}
