body {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 200px;
    border: 1px solid black;
}

.current-hash {
    border: 1px grey dashed;
    padding: 10px 5px;
}

.current-hash span {
    color: blue;
    font-style: italic;
}

.nav {
    font-size: large;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main p {
    width: 80%;
}

.item {
    border: solid 1px blue;
    background-color: lightgrey;
    margin: 20px;
    padding: 10px;
    padding-right: 40px;
}

.items-container {
    display: flex;
}

.history li {
    display: inline;
    margin: 5px;
}

.history {
    border: 1px grey;
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}

.history li:last-child {
    font-weight: 800;
}

.history-container {
    display: flex;
}

.history-link {
    text-decoration: none;
    color: black;
}

.history-link:visited {
    color: black
}

.history-link:hover {
    border-bottom: solid 2px black;
}

button {
    margin: 10px;
}